<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <!-- nav -->
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quasi incidunt minima similique placeat aperiam dignissimos rem facilis cumque ipsum!</p>
    </div>
</body>
</html>