<html lang="en">
<%- include("./partials/head.ejs") %>
<body>

   <!-- nav -->
    <%- include('./partials/nav.ejs') %>

    <div class="create-blog content">
        <form>
            <label for="title">Blog Title:</label>
            <input type="text" id="title" required>
            <label for="title">Blog Snippet:</label>
            <input type="text" id="snippet" required>
            <label for="title">Blog Body:</label>
            <textarea id="body" required></textarea>
        </form>
    </div>
</body>
</html>